* {
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    color: rgb(39, 38, 38);
}

body {
    background-color: #E5E5E5;
}

h2 {
    font-family: "Oswald", sans-serif;

}

/*--------------NAVBAR-------------------*/

.no-show {
    display: none;
}

.navbar-nav {
    font-family: 'Patua One', cursive;

}

.navbar {
    padding: 0;
    height: 70px;
    background-color: #e5e5e5 !important;
}

.nav-container {
    padding: 10px;
    border-bottom: 1px solid #493838;
    background-color: white;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
    padding-left: 20px;
    background-color: #E5E5E5;
}

.me-auto {
    margin-right: 0 !important;
    padding-right: 20px;
    gap: 20px;

}

.navbar-brand {
    padding-left: 20px;
}

.navbar-brand img {
    height: 50%;
    width: 50%;
}

.nav-link:hover {
    background-color: #E5E5E5;
}

.dropdown-item:hover {
    background-color: #E5E5E5;
}

/*-------------MAIN-------------*/


/*-------------HERO---------------*/
.main {
    margin: 0;
}

/* .hero {
    background-image: url("images/sunset.png");
    background-size: cover;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-flow: row wrap;



} */

.hero-container {
    padding: 0;
    animation: fade-in 2s ease-in forwards;
    /* margin-bottom: 200px; */
}

.hero-container h1,
.hero-container h4,
.hero-container p {
    margin-bottom: 20px;
}

.hero h1 {
    font-family: 'Oranienbaum', serif;
    font-size: 4rem;
    color: transparent;
    margin-bottom: 0;
    width: 60%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: -50px;
    font-weight: bold;
    animation: fade-in 2s ease-in forwards;
    animation-delay: 0.5s;


}

.text-center {
    margin-bottom: 50px;
}

.img-container {
    margin: auto;
}

.hero-image {
    border-radius: 15px;
    border: 5px solid #493838;
    width: 95%;
    height: 95%;

}


.btn-primary {
    background-color: #493838;
    border: none;
}

.btn-primary:hover {
    background-color: #855959;
}

.hero-text>* {
    text-align: center;
}

@keyframes fade-in {
    100% {
        color: white;
    }
}

/*----------------Intro------------*/

.section-1 .row {
    display: flex;
    justify-content: center;
    align-items: center;

}

h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;

}

.section-1 p {
    font-size: 1rem;
}

.welcome-content {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 20px;
}

.our-story {
    color: white;
    background-color: #493838;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.our-story a {
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    color: white;
    text-align: center;
    text-decoration: none;
}

.our-story:hover {
    background-color: #855959;
}

/*--------------Food Image Gallery-------------*/
.section-2 {
    margin-top: 40px;
}

.section-2 .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-div img {
    width: -webkit-fill-available;
    height: 100%;
    margin-bottom: 20px;
}

.section-3 {
    margin-bottom: 50px;
}

.section-3 .hours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bottom-img img {
    width: -webkit-fill-available;

}

.bottom-img {
    padding: 0;
}

/*----------------HOURS---------------*/

.section-3 {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-bottom: 100px;
    /* margin-top: 100px; */
    gap: 20px;
}

.section-3 h2 {
    width: 100%;
    margin: 50px 0;
    font-family: "Oswald", sans-serif;
    font-size: 5vh;
    text-align: left;
}

.hours-inner-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.right {
    display: flex;
    justify-content: flex-end;
    ;
}

.hours-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.hours-title {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    background-color: white;
    height: fit-content;
    width: 100%;

}

.hours-title-left {
    align-items: left;
    border-bottom: 1px solid #493838;
}

.hours-title-right {
    align-items: right;
    border-bottom: 1px solid #493838;
}

.hours-title .music-title {
    width: 100%;
}

.hours {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 0 15px;
}

.hours p {
    width: 100%;
    display: flex;
    font-size: 1rem;
    font-weight: 700;

}

.hours-left {
    justify-content: flex-start;
}

.hours-right>* {
    justify-content: flex-end;
    text-align: right;
}


.hours span {
    font-size: 1rem;
    margin-left: 15px;
    font-weight: 500;
}

.closed {
    color: #c80d0dee;
}

.hours-btn {
    text-align: left;
    text-decoration: underline;
    text-decoration-line: #493838;
}

.music-schedule {
    padding: 15px;
}



.hours-btn-container {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 0;

}


/*--------------FOOTER-------------*/
footer {
    background-color: #493838;
    padding: 20px 10px;
    margin-left: auto;
    margin-right: auto;

}

footer * {
    font-family: "Oswald", sans-serif;
    color: white;
}

footer .col h4 {
    margin-bottom: 10px;
    font-size: 2vh;
}

.footer-content {
    padding-left: 0;
}

footer .col {
    text-align: center;
}

footer .footer-content p {
    font-size: .68rem;
    margin-bottom: 0;
    width: 100%;

}

.footer-content:first-child {
    padding-left: 12px;
    padding-right: 0;
}

.footer-content i {
    font-size: 1.5rem;
    margin-top: 5px;
}

.footer-content label {
    font-size: 0.7rem;
    width: 100%;
}

.footer-content a {
    font-size: 0.7rem;
    width: 100%;
}

.footer-directions {
    padding-left: 0;
}

/*-------------MENU PAGE-------------------*/

.buffer {
    height: 100px;
}

.menu-cont h3 {
    font-size: rem;
    padding: 20px 0;
    text-align: center;
    font-family: "Oswald", sans-serif;
}

.menu {
    margin-bottom: 50px;
}

#happy-hour P {
    text-align: center;
    margin-bottom: 8px;
}

#bar-menu img {
    margin-bottom: 40px;
}

/*-------------MUSIC PAGE-------------*/
.music-title {
    margin: 20px 0 50px 0;
    font-family: "Oswald", sans-serif;
}

/*------------HISTORY PAGE----------------*/
#history p {
    text-indent: 30px;
}

.names {
    margin-left: 30px;
    width: 80%;
    text-align: center;
}

#history figure {
    margin: 40px 0;
}

/*---------------SeaBreeze Motel-----------------*/
.section-sb-3 {
    margin-bottom: 50px;
}

.section-sb-3 img {
    padding: 20px 0;
}

.hero-sb {
    padding: 0;
}

.hero-sb img {
    width: 100vw;
    padding: 0;
}

.sb-footer {
    margin-top: 100px;
}

/*------------Gallery--------------*/
.gallery-img-container img {
    width: fit-content;
}

/*-------------MEDIA QUERIES--------------*/


@media screen and (min-width: 768px) {
    p {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .no-show {
        display: block;
    }

    .navbar {
        height: 100px;
    }

    .navbar-brand img {
        width: 100%;
        height: 100%;
    }

    .hero {
        height: 75vh;
    }

    .hero h1 {
        font-size: 6.5rem;
        width: 60%;
        /* margin-top: -150px; */
    }

    .no-show {
        display: block;
    }

    .section-3 {
        width: 94%;
    }

    .hours-container {
        width: 48%;
        height: 525px;
        margin-bottom: 100px;
    }

    .hours-container p {
        font-size: 1.5rem;

    }

    .hours-container span {
        font-size: 1.5rem;
    }

    .hours-container h3 {
        font-size: 1.8rem;
        width: 80%;
        margin-top: 30px;
    }

    .hours a {
        font-size: 1.5rem;
    }

    .closed {
        font-size: 1.5rem;
    }

    .section-4 {
        width: 60%;

    }

    .carousel-item img {
        width: 100%;
        max-height: 450px;
    }

    .carousel-item .car-img {
        width: 150%;
    }

    /*----------FOOTER---------------*/
    footer .footer-content p {
        font-size: 1rem;
    }

    .footer-content a {
        font-size: 1rem;
    }

    .footer-content label {
        font-size: 1rem;
    }

    .footer-content i {
        font-size: 2rem;
    }

    .footer-row {
        justify-content: space-around;
    }

    /*---------MENU-----------*/
    .menu-cont h3 {
        font-size: 2.5rem;
        margin-bottom: 50px;
    }

    #bar-menu img {
        width: 80%;
        margin-bottom: 50px;

    }

    #dessert-menu {
        display: flex;
        justify-content: center;
    }

    #dessert-menu img {
        width: 80%;
    }

    #happy-hour img {
        width: 50%;

    }

    /*---------SEABREEZE-------------*/
    .sb-content {
        justify-content: center;
    }


}

@media screen and (min-width: 1200px) {

    /*------------NAV-------------------*/
    nav .nav-link {
        font-size: 1.2rem;

    }

    nav .dropdown-item {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 5rem;
        ;
        margin-top: 100px;


    }

    nav a {
        font-size: 1rem;
    }

    .hero {
        height: 100vh;
        flex-flow: row nowrap;
        margin-top: -100px;


    }

    /* .hero-image {
        border-radius: 15px;
        box-shadow: 14px 16px 5px 5px rgba(73, 56, 56, 0.95);
    } */

    .hero h1 {
        font-size: 8rem;
        margin-bottom: 0;
        width: 60%;


    }

    .hours-container {
        height: 550px;

    }

    /*-------------MAIN---------------------*/


    .section-1 p {
        font-size: 1.5rem;
        ;
    }

    .welcome-content {
        font-size: 1.5rem;
    }


    .title {
        width: 60%;
        text-align: center;
    }

    .section-3 {
        width: 60%;
        margin-bottom: 100px;

    }

    .section-3 h2 {
        width: 60%;

    }


    .closed {
        font-size: 1.8rem;
    }

    .section-4 {
        width: 40%;
        margin-bottom: 100px;
    }

    .carousel-item img {
        width: 100%;
        max-height: 450px;
    }

    .carousel-item .car-img {
        width: 150%;
    }

    .music-schedule {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.7rem;
    }

    /*--------- FOOTER------------*/
    .footer-content p {
        font-size: 1.2rem;
        width: 100%;
    }

    .footer-content a {
        font-size: 1.2rem;
        width: 100%;
    }

    .footer-content label {
        font-size: 1.2rem;
        width: 100%;
    }

    /*------------ABOUT-------------*/

    #history .content-wrapper {
        padding: 0 50px;
    }

    /*------------MENU -------------*/
    #menu h2 {
        margin-bottom: 50px;
    }

    .menu-cont h3 {
        font-size: 3rem;
        margin-bottom: 50px;
    }

    #menu img {
        padding: 0 20px;
    }

    #bar-menu {
        display: flex;
        justify-content: center;
        gap: 40px;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    #bar-menu img {
        width: 48%;

    }


    /*----------_SEABREEZE----------------*/
    .hero-sb {
        margin-left: 7%;
    }

}

@media screen and (min-width: 1600px) {
    .hero h1 {
        font-size: 8rem;

    }

    .hours-container h3 {
        font-size: 2rem;
    }
}